.adminUserList {
    list-style: none;
    padding: 5px;
    background-color: #ccf;
    border: 2px inset #ccf;
    margin: 0 6px;
    font-style: italic;
    height: 40px;
    span {
        font-style: none;
        font-size: large;
    }
}
.adminButs {
    border-radius: 7%;
    color: #fff;
    float: right;
    position: relative;
}
.alreadyAdmin {
    background-color: #bf6e72;
}
.makeAdmin {
    background-color: #65b65c;
}
#userManage, #prodRem, #prodAdd, #promo{
    width: 50%;
    margin-left: 10%;
    position: relative;
    table{
        z-index: 2;
        width:100%;
    }
    table tr td button {
        border-radius:50%;
    }
    .examp{
        color:#888;
    }
}
.adminTab {
    width: 90px;
    height: 40px;
    left: 10px;
    margin-right: 2%;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
    display: inline-block;
    position: relative;
    text-align: center;
    box-shadow:0 0 3px 1px #777;
    z-index: 1;
    font-size: 18pt;
        background-color: #9ac399;
    cursor: pointer;
    &:hover {
        background-color: #cfc;
    }
}
.active{
	font-weight:600;
	background-color: #cfc;
    box-shadow:0 0 7px 4px #777;
}

.customDiag{
    z-index:5;
    margin: 0 auto;
    display:block;
    width:50vw;

    color:#000;
    table{
        width:90%;
    }
}
.ngdialog{
    width:50%;
    left:15%;
    top:15%;
    height:400px;
    overflow:hidden;
    background-color: #1b311a;
    color:#fff;
}