<div id="signup">

    <form name="signUpForm" ng-submit="signUpForm(user)" ng-controller="NewCardFormCtrl">
    Email: <input required ng-minlegnth="5" type="text" ng-model="user.email" />
    Password: <input required ng-minlegnth="10" type="text" ng-model="user.password" />
    <button type="submit">Submit</button>
	</form>
<!-- login with facebook -->
<img src="https://cache.dreamsocial.co/img/login-facebook.png">
<!-- <img src="smiley.gif" alt="Smiley face" height="42" width="42"> -->

</div>

<!-- 
<a ui-sref="tutorial">tutorial</a> -->