 <section id="signup">
	<div id="login">
			<form ng-submit="newUserSignUp(user)">
			  	<div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Enter email">
			  	</div>
			  	<div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="user.password" placeholder="Password">
			  	</div>
			    <button type="submit" class="btn btn-default">Submit</button>
			</form>
		
			<!-- login with Facebook or Google-->
		
			<button ng-click="loginfb()"><img src="https://cache.dreamsocial.co/img/login-facebook.png" height="100" width="500"></button>
			<br>
			<button ng-click="login()"><img src="https://developers.google.com/accounts/images/sign-in-with-google.png" height="100" width="500"></button>	
	</div>
</section>
	
