
<div ng-controller="prodDetailCtrl" class="product-list">
    <h1 ng-init="showMints()">Mint</h1>
    <div class="product-listing" ng-repeat="mint in mints">

        <img class="product-pictures" ng-src="{{ mint.photo }}"/>
        <ul>
            <li>Title: {{ mint.title }}
                <br> Price: {{ mint.price.toString() | currency }}
                <br> Category: {{ mint.category.join(', ') }}
                <br>
                <button ng-click="addtocart(mint.title)" class="addtocart">Add to Cart</button>
            </li>
        </ul>
    </div>
</div>
