navbar {

  display: block;
  background: #1b311a;
  position:fixed;
  top:0px;
  width: 100vw;
  height:50px;
  margin-bottom:0;
  z-index:2;
  box-shadow: 2px 0 4px #000;

  a {
    color: white;
    background: #1b311a!important;
    &:hover {
      color: white;
      box-shadow: 0 0 5px inset #000;
    }
  }
  .nav > li {
    cursor: pointer;
    color:#fff;
    position:relative;
    display:inline-block;
    width:10%;
    text-align: center;
    height:100%;
    transition-duration:.5s;
    &:hover{
      box-shadow: 0 0 5px #000;
    }
    &:active{
      color:#fff;
      background-color: #244522;
      box-shadow: 0 0 5px #000;
    }
  }

}
#candyNavBg{
  position: absolute;
  top:0px;
  background:#eee;
  width:40px;
  height:40px;
  border-radius:50%;
  box-shadow:0 0 9px  4px #cfc inset;
}

