navbar {

  display: block;
  background: #1b311a;

<<<<<<< HEAD
  stack {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
=======
  .nav > li {
>>>>>>> 6e8528c14f22b8e7a186b69c2197bab500e6ebae
    cursor: pointer;
    color:#fff;
    position:relative;
    display:inline-block;
    width:10%;
    text-align: center;
    height:50px;
    transition-duration:.5s;
    &:hover{
      background-color: #356831;
      transform:rotate(5deg);
      border:1px outset #356831;
    }
  }

}
.rightNav {
  float:right;
  right:20px;
}