<div class="product-list">
    <div class='pageTitle' style='background-image: url("images/profile.jpg");'>Profile</div>
    <div ng-controller="profileController" class="product-listing">
        <img class="product-pictures" ng-src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRa-qWiCcaYdEV9qLKnQa6ghSxOyB36q4hnJNXf0U6XYye_iZCW" />
        <br>
        <div class="product-listing-info ng-binding ng-scope">
           UserID: {{ email }}
           <br>
        </div>
    </div>


    {{ orders }}

<!--     {{ order }} -->
    <div id="pastOrder">
        Your Past Orders
        <br>
        <hr>

    <div class="panel panel-default" ng-repeat="order in orders">
      <div class="panel-heading">
        Order Placed: {{ order.date }}
        Total: {{ order.totalPrice | currency }}
        Order #: {{ order._id }}
      </div>

     <!--  add ng-repeat="pastorder in pastorders" when we them!!! -->
      <div class="panel-body">      
        <div class="row">
            <div class="col-xs-6 col-md-3"> price: </div>
            <div class="col-xs-12 col-md-9"> Product: {{ order.products }} </div>
        </div>
      </div>
    </div>
</div>
