
<div class="product-list">
    <h1>Mint</h1>
    <div ng-controller="prodDetailCtrl" class="product-listing" ng-repeat="mint in mints">

        <img class="product-pictures" ng-src="{{ mint.photo }}"/>
        <ul>
            <li>Title: {{ mint.title }}
                <br> Price: {{ mint.price.toString() | currency }}
                <br> Category: {{ mint.category.join(', ') }}
                <br>
            <form>
                <input class="quantity-box" type="number" min="1" value="1">
                <button ng-click="addtocart(mint.title);" class="addtocart">Add to Cart</button>
            <form>
            </li>
        </ul>
    </div>
</div>
