* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
	background: white;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'products/prod';
@import 'cart/cart';