#cartChart {
    background: rgba(200, 255, 200, .7);
    
}
#cart-single-order {
    width: 100%;
    border-bottom: 2px inset #fff;
    display: table-row;
}
.cartMisc {
    width: 100%;
    padding: 10px;
}

th, td {
	border: 1px solid #fff;
	background-color:rgba(255,200,200,.7);
}