<section id="cart">
    <div id='title' style='background-image: url("images/carts.jpg");'>Cart</div>
    <div id='cartChart' class='cartMisc'>
        Thanks for buying from us! Your total: {{totalOut}}
        <form name='cardForm' ng-submit='submitCard(card)'>
            <label for='cardName'>Name on card: </label>
            <input type='text' name='cardName' ng-model='card.name' required/>
            <br/>
            <label for='cardNum'>Card Number: </label>
            <input type='text' name='cardNum' ng-model='card.num' required/>
            <br/>
            <b>Expiration Date:</b>
            <label for='cardExpmo'>Mo: </label>
            <input type='text' name='cardExpmo' ng-model='card.expmo' maxlength=2 size=2 required/>
            <label for='cardExpyr'> Yr: </label>
            <input type='text' name='cardExpyr' ng-model='card.expyr' maxlength=2 size=2 required/>
            <br/>
            <label for='cvv'>CVV Code: </label>
            <input type='text' name='cvv' ng-model='card.cvv' maxlength=4 size=4 required/>
            <br/>
            <button type='submit'>Pay</button>
        </form>
    </div>
</section>